@model TeacherOnline.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Произошла неведомая ошибка!!!</h1>

<h3>Рекомендация</h3>
<p>
    Попробуйте вернутся на прошлую страницу и повторить свои действи, возможно с другими данными!!!<br />
    В противном случае свяжитесь с разработчиком для уточнения ошибки по email: suply.service@mail.ru
</p>

