@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TeacherOnline.DAL.Entities.User>

<h1>Нужна помощь по приложению?</h1>
<p>Если вы столкнулись с трудностями при работе с сайтом, вы можете написать разработчику на email: suply.service@mail.ru</p>
<p>Если вы на сайте вперые и вам необходимо помощь по сайту, вы можете скачать руководоство пользователя, кликнув на данную кнопку <a class="btn btn-outline-primary" href="~/Рукодоство пользователя.docx">Руководство пользователя</a></p>