@{
    ViewData["Title"] = "Профиль";
}
@model TeacherOnline.DAL.Entities.Profile;

    

<h2>@ViewData["Title"]</h2>


<!-- g-* это размер отступов между элементами...

снизу - пример на создание профайла для пользователя админом.... просто пусть будет
-->
<form class="row g-3" style="width:1000px" enctype="multipart/form-data" method="post" asp-controller="Users" asp-action="CreateProfile">
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иванов" name="LastName">
        </div>
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Имя</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иван" name="FirstName">
        </div>
        <div class="col-md-3">
            <label for="inputFIO" class="form-label">Отчетсво</label>
            <input type="text" class="form-control" id="inputFIO" placeholder="Иванович" name="Otchestvo">
        </div>
        <div class="col-md-3">
            <label for="inputDataHB" class="form-label">День рождения</label>
            <input type="date" class="form-control" id="inputDataHB" name="Date">
        </div>
        <div class="col-md-3">
            <label for="inputDepartment" class="form-label">Группа</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="П-1" name="Group">
        </div>
        <div class="col-md-3">
            <label for="inputNumber" class="form-label">О себе</label>
            <input type="text" class="form-control" id="inputNumber" name="About">
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="formFile" class="form-label">Загрузить фото</label>
            <input class="form-control" type="file" id="formFile" accept="image/*" name="Photo">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Сохранить данные</button>
        </div>
    </form>