@{
    ViewData["Title"] = "Изменить";

    //public record class Teach(int id, string fio);
    //static List<Teach> teahc { get; } = new List<Teach>();
    //foreach(var item in )
    //SelectList selects = new SelectList()
}
@model Praktika.Models.tempSub
<h2>@ViewData["Title"]</h2>

<form asp-controller="Subject" asp-action="CreateSub" method="post">
    <div class="mb-3">
        <label class="form-label">Название отдела</label>
        <input type="text" class="form-control" asp-for="@Model.Name">
        <label class="form-label">Преподаватель</label>
        <select class="form-control" asp-for="@Model.IdTeacher" asp-items="Model.Teachers"></select>
        <label class="form-label">Об отделе</label>
        <input type="text" class="form-control" asp-for="@Model.About">
    </div>
    <button type="submit" class="btn btn-primary">Создать пользователя</button>
</form>